*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
key.properties
*.jks
*.keystore
fastlane/play-store-credentials.json
fastlane/report.xml
fastlane/README.md

